<h2>Employee List</h2>

<table class="table table-striped ">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email Id </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.emailId}}</td>
            <td>
                <button class="btn btn-success" (click)="updateEmployee(employee.id)" >Update</button>
                &nbsp;
                <button class="btn btn-danger" (click)="deleteEmployee(employee.id)" >Delete</button>
                &nbsp;
                <button class="btn btn-info" (click)="employeeDetails(employee.id)" >View</button>
            </td>
        </tr>
    </tbody>
</table>
